/*
 * Copyright (c) 2023 Ian Morris
 *
 * SPDX-License-Identifier: Apache-2.0
 */

 / {
	aliases {
		dht0 = &bme280;
	};
};

 &arduino_i2c { 
	status = "okay";

	bme280: bme280@77 { 
		compatible = "bosch,bme280";
		status = "okay";
		reg  = <0x77>;
		};
};